.main {
    background-color: rgba(32, 32, 32, 0.842);
}

.imagemLogo {
    
    margin-bottom: 3%;
    margin-top: 1%;
    margin-right: 42%;
    margin-left: 38%;
    font-weight: bold;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.span {
    color: blue;
}

.header {
    border: solid 1px black;
}

.produtos {
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
}

.button {
    margin-left: 1%;
    border: solid 1px red;
    margin-right: 150px;
    border-radius: 6px;
    color: white
}

.button1 {
    padding-left: 150px;
    padding-right: 148px;
    color: white;
    background-color: rgba(48, 48, 48, 0.897);
}

.button1:hover {
    padding-left: 150px;
    padding-right: 148px;
    color: rgb(133, 133, 134);
    background-color: rgba(59, 59, 59, 0.897);
}

.input{
    color: black;
    margin-right: 4px;
    padding: 3px;
    border-top-left-radius: 6px;
    border-bottom-right-radius:6px;
    background-color: rgb(255, 255, 255);
    margin-left: 50%;
}
.pesquisar{
    display: grid;
    grid-template-columns: 30%  20%;
    margin-left: 28%;
    margin-top: -30px;
    margin-bottom: 20px;
}

