.conteiner{
    border-radius: 6px;
    border: solid 1px black;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15%;
    padding: 2%;
    width: 300px;
}

.input{
    border: solid 1px black;
    border-radius: 6px;
    
}

.input::placeholder{
    color: orange;
    background-color: purple;
    padding: 2px;

}

.input1{
    border: solid 1px black;
    padding: 4px;
    border-radius: 6px;
    

}